{{#description}}
    /* {{{description}}} */
{{/description}}
    @SerializedName("{{name}}")
    {{#databaseIsIndexed}}{{^isUUIDProperty}}@Index {{/isUUIDProperty}}{{/databaseIsIndexed}}{{#isUUIDProperty}}@Index override {{/isUUIDProperty}}{{#isSoftDeletableProperty}}override {{/isSoftDeletableProperty}}var {{{nameInCamelCaseFirstLetterLower}}}: {{{datatype}}}{{>data_class_required_default_param}}