{{#description}}
                /* {{{description}}} */
{{/description}}
                @SerializedName("{{name}}")
                var {{{nameInCamelCaseFirstLetterLower}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}