
/**
 * {{{description}}}
{{#vars}}
 * @param {{nameInCamelCaseFirstLetterLower}} {{{description}}}
{{/vars}}
 */
 @Entity
class {{databaseModelName}} (
    {{#requiredVars}}{{#isListContainer}}{{#items}}{{#isString}}@Convert(converter = StringListConverter::class, dbType = String::class)
    {{/isString}}{{/items}}{{/isListContainer}}{{>data_class_req_var}}{{^-last}},
    {{/-last}}{{/requiredVars}}{{#hasRequired}}{{#hasOptional}},
    {{/hasOptional}}{{/hasRequired}}{{#optionalVars}}{{#isListContainer}}{{#items}}{{#isString}}@Convert(converter = StringListConverter::class, dbType = String::class)
    {{/isString}}{{/items}}{{/isListContainer}}{{>data_class_opt_var}}{{^-last}},
    {{/-last}}{{/optionalVars}}{{#vars}}{{#databaseIsRelation}}{{^databaseRelationIsToManyReference}}{{^databaseRelationIsManyToManyReference}},
    var {{databaseRelationPropertyName}}Id: Long = 0{{/databaseRelationIsManyToManyReference}}{{/databaseRelationIsToManyReference}}{{/databaseIsRelation}}{{/vars}},
    @Id var id: Long = 0){{#isProtocolUUIDType}}: UUIDEntity(uuid){{/isProtocolUUIDType}}{{#isProtocolSoftDeletableType}}{{#isProtocolUUIDType}}, {{/isProtocolUUIDType}}{{^isProtocolUUIDType}}: {{/isProtocolUUIDType}}SoftDeletable{{/isProtocolSoftDeletableType}} {
    
    {{#vars}}{{#databaseIsRelation}}{{#databaseRelationIsToManyReference}}
    @Backlink
    lateinit var {{databaseRelationPropertyName}}: ToMany<{{databaseRelationModelType}}>
    {{/databaseRelationIsToManyReference}}{{#databaseRelationIsManyToManyReference}}
    lateinit var {{databaseRelationPropertyName}}: ToMany<{{databaseRelationModelType}}>
    {{/databaseRelationIsManyToManyReference}}{{^databaseRelationIsToManyReference}}{{^databaseRelationIsManyToManyReference}}
    lateinit var {{databaseRelationPropertyName}}: ToOne<{{databaseRelationModelType}}>
    {{/databaseRelationIsManyToManyReference}}{{/databaseRelationIsToManyReference}}{{/databaseIsRelation}}{{/vars}}

    // This allows us to add static extensions to the class
    companion object
}
