{{#models}}{{#model}}//
// {{classname}}.swift
// {{appName}} {{appVersion}}

import Foundation
{{#description}}
/// {{description}}{{/description}}{{#isBuildCoreData}}
// Has Matching Core Data{{/isBuildCoreData}}

struct {{classname}}: Codable, Equatable {

    // MARK: - Properties

{{#vars}}{{#description}}    /// {{description}}{{/description}}
    var {{name}}: {{{datatype}}}{{^required}}?{{/required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}
    
{{/vars}}
}{{/model}} {{/models}}