{{#models}}{{#model}}//
// {{classname}}.swift
// {{appName}} {{appVersion}}

import Foundation
{{#description}}
/// {{description}}{{/description}}{{#isBuildCoreData}}
// Has Matching Core Data{{/isBuildCoreData}}

struct {{classname}}: Codable, Equatable {

    // MARK: - Properties

{{#vars}}{{#description}}    /// {{description}}{{/description}}
    var {{nameInCamelCase}}: {{{datatype}}}{{^required}}?{{/required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}

{{/vars}}

    {{^vendorExtensions.x-use-default-property-names}}enum CodingKeys: String, CodingKey { {{#vars}}
        case {{{nameInCamelCase}}} = "{{name}}"{{/vars}}
    }{{/vendorExtensions.x-use-default-property-names}}
}{{/model}} {{/models}}