{{#description}}
    /* {{{description}}} */
{{/description}}
    @SerializedName("{{name}}")
    val {{{nameInCamelCaseFirstLetterLower}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}