package {{invokerPackage}}.infrastructure

import com.mmm.thinbonding.Main.AppContext
import {{invokerPackage}}.MyObjectBox

object BoxCore {
    val boxStore = MyObjectBox.builder().androidContext(AppContext.context).buildDefault()
}