package {{packageName}}.infrastructure
import io.objectbox.Box
import io.objectbox.kotlin.boxFor

import {{modelPackage}}.*

{{#models}}
{{#model}}
{{#isDatabaseModel}}

val {{databaseModelName}}.Companion.entityBox: Box<{{databaseModelName}}>
        get() {
            return BoxCore.boxStore.boxFor({{databaseModelName}}::class)
        }
{{#isProtocolUUIDType}}
fun {{databaseModelName}}.Companion.itemForUUID(uuid: String?): {{databaseModelName}}? {
    try {
        return uuid?.let { entityBox.query().equal({{databaseModelName}}_.uuid, uuid).build().findUnique() }
    }
    catch(e: io.objectbox.exception.DbException) {
        //This means the database is in a bad state. At some point we need to be able to recover from this
        e.printStackTrace()
        throw e
    }
}

fun {{databaseModelName}}.Companion.itemsForUUIDs(uuids: List<String>?): List<{{databaseModelName}}> {
    try {
        var query = entityBox.query()
        uuids?.forEach { query = query.or().equal({{databaseModelName}}_.uuid, it)}
        return query.build().find()
        
    }
    catch(e: io.objectbox.exception.DbException) {
        //This means the database is in a bad state. At some point we need to be able to recover from this
        e.printStackTrace()
    }
    return emptyList()
}
{{/isProtocolUUIDType}}{{/isDatabaseModel}}
{{/model}}
{{/models}}
