// CoreDataToSwaggerBuilders.swift
// API Version {{appVersion}}
//

import Foundation
import CoreData

protocol CoreDataToSwaggerBuildable {
	associatedtype Swagger: CoreDataBuildable
    func asSwaggerModel() -> Swagger
}

{{#models}}{{#model}}{{#isDatabaseModel}}{{#isProtocolUUIDType}}extension {{databaseModelName}}: CoreDataToSwaggerBuildable {

    func asSwaggerModel() -> {{classname}} {
        let swagger_{{classname}} = {{classname}}()

{{#vars}}{{^databaseIsRelation}}        swagger_{{classname}}.{{name}} = {{name}}
{{/databaseIsRelation}}
{{#databaseIsRelation}}{{#databaseRelationIsToManyReference}}
        if let items = {{referencesRelationName}} {
            swagger_{{classname}}.{{name}} = items.map { $0.uuid }
        }
{{/databaseRelationIsToManyReference}}
{{^databaseRelationIsToManyReference}}
        if let item = {{referencesRelationName}} {
            swagger_{{classname}}.{{name}} = item.uuid
        }

{{/databaseRelationIsToManyReference}}{{/databaseIsRelation}}{{/vars}}
        return swagger_{{classname}}
    }
}

{{/isProtocolUUIDType}}{{/isDatabaseModel}}{{/model}}{{/models}}