{{#models}}{{#model}}{{#isDatabaseModel}}
//Is database model
import Foundation
import CoreData


//
// -------------- {{databaseModelName}} --------------
//

@objc({{databaseModelName}})
class {{databaseModelName}}: NSManagedObject {

{{#vars}}{{^databaseIsRelation}}{{^isPrimitiveType}}    @NSManaged var {{name}}: {{datatype}}{{^required}}?{{/required}}{{#required}}!{{/required}}
{{/isPrimitiveType}}{{#isPrimitiveType}}        var {{name}}: {{datatype}}{{^required}}?{{/required}}{{#required}}!{{/required}} {
            // Getters and setters required to make it possible to have optional primitive types.
            get {
                willAccessValue(forKey: "{{name}}")
                let value = primitiveValue(forKey: "{{name}}") as? {{datatype}}
                didAccessValue(forKey: "{{name}}")
                return value
            }
            set {
                willChangeValue(forKey: "{{name}}")
                let value: {{datatype}}? = newValue ?? nil
                setPrimitiveValue(value, forKey: "{{name}}")
                didChangeValue(forKey: "{{name}}")
            }
        }
{{/isPrimitiveType}}{{/databaseIsRelation}}{{#databaseIsRelation}}{{#databaseRelationIsToManyReference}}        @NSManaged var {{databaseRelationPropertyName}}: Set<{{databaseRelationModelType}}>{{^required}}?{{/required}}{{#required}}!{{/required}}
{{/databaseRelationIsToManyReference}}
{{^databaseRelationIsToManyReference}}
        @NSManaged var {{databaseRelationPropertyName}}: {{databaseRelationModelType}}{{^required}}?{{/required}}{{#required}}!{{/required}}
{{/databaseRelationIsToManyReference}}{{/databaseIsRelation}}{{/vars}}
}{{/isDatabaseModel}}{{/model}}{{/models}}
