<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<model userDefinedModelVersionIdentifier="" type="com.apple.IDECoreDataModeler.DataModel" documentVersion="1.0" lastSavedToolsVersion="9525" systemVersion="15D21" minimumToolsVersion="Automatic" sourceLanguage="Swift">{{#models}}{{#model}}{{#isDatabaseModel}}
	<entity name="{{databaseModelName}}" representedClassName="{{databaseModelName}}" syncable="YES">
{{#vars}}{{^databaseIsRelation}}		<attribute name="{{name}}"{{^required}} optional="YES"{{/required}} attributeType="{{datatypeForXCDataModel}}"{{#isIndexed}} indexed="YES"{{/isIndexed}} syncable="YES"/>
{{/databaseIsRelation}}{{#databaseIsRelation}}		<relationship name="{{databaseRelationPropertyName}}"{{^required}} optional="YES"{{/required}}{{#databaseRelationIsToManyReference}} toMany="YES"{{/databaseRelationIsToManyReference}}{{^databaseRelationIsToManyReference}} maxCount="1"{{/databaseRelationIsToManyReference}} deletionRule="Nullify" destinationEntity="{{databaseRelationModelType}}" inverseName="{{databaseRelationForeignPropertyName}}" inverseEntity="{{databaseRelationModelType}}" syncable="YES"/>
{{/databaseIsRelation}}{{/vars}}	</entity>{{/isDatabaseModel}}{{/model}}{{/models}}
</model>